<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="./indexstyle.css">
</head>

<body>
    <h1>Algo-DS based Search Engine</h1> <br>
    <form>
        <input id="userInp" placeholder="Search Keywords.. ðŸ”" aria-label="Search Question" aria-describedby="basic-addon2" class="text-center search-input-container form-control" style="font-size: 18px; font-weight: 600; width: 350px; height: 40px;">
        <button id="submit" class="button" style="vertical-align:middle"><span> Search </span></button>
    </form>

    <h2 id="found"></h2>
    <ul style="list-style-type:none; text-align: center; color: black;">
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
        <li>
            <a href="#" target="_blank"></a>
        </li> <br>
    </ul>
    <script>
        const form = document.querySelector("form");
        const question = form.userInp;
        const lists = document.querySelectorAll("a");
        const fnd = document.querySelector("#found");
        var data;
        form.addEventListener('submit', async(e) => {
            e.preventDefault();

            try {
                if (question.value == '') alert("Please enter something dear!!");
                else {
                    fnd.innerHTML = `Loading...`
                    for (let i = 0; i < lists.length; i++) {
                        lists[i].innerHTML = ``;
                    }
                    const res = await fetch(`/search?question=${question.value}`, {
                        method: "GET"
                    })
                    data = await res.json();
                    fnd.innerHTML = `Found !!`
                    for (let i = 0; i < lists.length; i++) {
                        lists[i].innerHTML = data[i].title;
                        lists[i].href = `/display?question=${data[i].title}`
                    }
                }
            } catch (error) {
                alert("error")
            }
        })
    </script>

</body>

</html>